:root {
    --white: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
    --font-family: "Outfit", sans-serif;
    --font-size-base: 15px;
}

html , body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--Slate-300);
    color: var(--Slate-900);
    font-weight: 400;
    display: flex;
  justify-content: center; 
  align-items: center;   
}

.main-container{
    margin: 0 8px; 
    display: flex;
    min-width: 325px;
    width: 20%;
    border-radius: 10px;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    box-shadow: 1em 1em 2em var(--Slate-300);
}

img.qr-code-image{
    width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
    border-radius: 10px;
}

.main-container .title {
    font-size: 1.7em;
    font-weight: 700;
    text-align: center;
    color: var(--Slate-900);
}

.main-container .description {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    color: var(--Slate-500);
}